.markdown-body
{
	font-family: Verdana
}
/* .markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4
{
	font-weight:normal;
} */
.markdown-body h1
{
	font-size: 22pt;
	color: #884848;
	font-weight:normal;
	margin-bottom: 0;
}
.markdown-body h2
{
	font-size: 12pt;
	color: black;
}
.markdown-body h3,
.markdown-body h4
{
	font-size: 10pt;
	color: black;
}
.markdown-body ul, ol
{
	font-size: 9pt;
	font-weight: normal;
	color: black;
	line-height: 150%;
}
.markdown-body p
{
	font-size: 9pt;
	font-weight: normal;
	color: black;
}
.markdown-body .emoji
{
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  line-height: 1;
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}
tt, code
{
	font-size: 9pt;
	font-family: Consolas,monospace
}